@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }
body {
  margin: 0;
  background: #9EA5AF;
}
* { box-sizing: border-box; }
button, a { -webkit-tap-highlight-color: transparent; }
img { display: block; }
